controller:   
  ingressClass: nginx
  replicaCount: 3
  service:
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
      service.beta.kubernetes.io/azure-load-balancer-internal-subnet: "ingNodePoolSubnet"
    loadBalancerIP: '{{ ingress_ip }}'