apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: sca-project
  namespace: argocd
spec: 
  generators: 
    - git: 
        repoURL: "{{ git_repo }}"
        revision: HEAD
        directories: 
          - path: manifests/*
  template: 
    metadata: 
      name: '{{path.basename}}'
      annotations:
        notifications.argoproj.io/subscribe.on-sync-succeeded.slack: argocd-build
        notifications.argoproj.io/subscribe.on-sync-failed.slack: argocd-build
        notifications.argoproj.io/subscribe.on-health-degraded: argocd-build
        notifications.argoproj.io/subscribe.on-deployed.slack: argocd-build

    spec: 
      project: default
      source: 
        repoURL: "git_repo"
        targetRevision: HEAD
        path: '{{path}}'
      destination: 
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      syncPolicy: 
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true